main{
    display: grid;
    grid-template-areas: 
    "articuloseccion1 articuloseccion1 editorial"
    "entrevista articuloseccion2 editorial"
    "entrevista articuloseccion3 articuloseccion4";
    grid-row-gap: 20PX;
    grid-column-gap: 20px;
    width: 98%;
}
div#editorial{
    grid-area: editorial;
}
div#articuloseccion1{
    grid-area: articuloseccion1;
}
div#entrevista{
    grid-area: entrevista;
}
div#articuloseccion2{
    grid-area: articuloseccion2;
}
div#articuloseccion3{
    grid-area: articuloseccion3;
}
div#articuloseccion4{
    grid-area: articuloseccion4;
}
@media (max-width:768px){
    main{
        display: grid;
        grid-template-areas: 
        "editorial"
        "entrevista"
        "articuloseccion1"
        "articuloseccion2"
        "articuloseccion3"
        "articuloseccion4"
;
        grid-row-gap: 20PX;
        grid-column-gap: 20px;
        width: 98%;
        margin-top: 80px;
    }
    div#editorial{
        grid-area: editorial;
    }
    div#articuloseccion1{
        grid-area: articuloseccion1;
    }
    div#entrevista{
        grid-area: entrevista;
    }
    div#articuloseccion2{
        grid-area: articuloseccion2;
    }
    div#articuloseccion3{
        grid-area: articuloseccion3;
    }
    div#articuloseccion4{
        grid-area: articuloseccion4;
    }
    .tarjeta{
        width: 100%;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: 0.2s;
        color: #000000;
    }
    div#articuloseccion1{
        align-items: center;
    }
}