%botonBase {
    padding: 5px;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    margin: 5px;
    border-radius: 8px;
    background-color: $primaryColor;
    color: $mainTextColor;
    font-weight: bolder;
    font-family: $headAndTitleF;
}

%quotationsGen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #febdbd;
    border-left: #bca1a1 4px groove;
}

%botonSocial {
    display: flex;
    justify-content: center;
    align-self: center;

    a {
        margin: .5em;
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-image: radial-gradient(closest-side, #7038b8, #76cd34, #bef63c);
        color: #f1f1f1;
        border-radius: 50%;
    }
}