.logo{
    width: 50%;
}
nav{
    width: 100%;
}
.navbar-nav{
    align-self: center;
}
.encabezado{
    background-color: #2f6364;
    height: 140px;
}
.nav-link{
    color: #be9e8f;
    font-size: 1.3rem;
    font: bolder;
    padding: 8px;
    background-color: #2f6364;
    text-align: justify;
    width: 70%;
    word-wrap: break-word;
}
.nav-link a{
    padding: 10px;
    font-size: x-large;
    font-weight: bolder;
}